<header>
    <a name="map"></a>
    <h1>网站标题</h1>
    <h2>你以什么眼光看世界，你的世界就是什么。你不相信什么，你的世界就没有什么....</h2>
    <h4><a href="https://github.com/dunitian" target="_blank"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://images.cnitblog.com/blog2015/294743/201503/241715567241255.png" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a></h4>
    <div class="logo"><a href="@Url.Action("Index","Index")"></a></div>
    <nav id="topnav">
        <a href="@Url.Action("Index","Index")" id="topnav_current">散客</a>
        <a href="@Url.Action("Index", "NewsInfo")">时代</a>
        <a href="@Url.Action("Index", "Share")">探索</a>
        <a href="@Url.Action("Index", "Talk")">点滴</a>
        <a href="@Url.Action("Index", "Resource")">资源</a>
        <a href="@Url.Action("Index", "Photo")">回忆</a>
        <a href="@Url.Action("Index", "Music")">旋律</a>
        @*<a href="@Url.Action("Index", "DntLoT")">飞扬</a>*@
        @*<a href="#">搜索</a>*@
    </nav>
</header>